<div class="row profile-container">
    <div class="col-sm-12 col-md-3 center profile">
        <div>
            <div class="t-avatar center">
                <h1 class="display-4">Profile</h1>
            </div>
            <div class="avatar center">
                <i class="fab fa-teamspeak"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 center container-description">
        <div class="description">
            <p class="lead">
                I am a system engineering student at UPC. 
                I have extensive knowledge in different area's 
                like frontend, backend development, and skils that 
                identify a person as a DevOps profesional
            </p>
        </div>
    </div>
</div>
<div class="row profile-container">
   <div class="col-sm-12 col-md-9 description container-description center">
        <p class="lead">
            I am a fan of linux, since 2015 I’ve been using linux distributions, starting with Ubuntu  and CentOs.
            Currently, I use Archlinux as my main operating system and workspace.
        </p>
   </div>
   <div class="col-sm-12 col-md-3 center profile">
       <div>
            <div class="t-avatar center">
                <h1 class="display-4">Linux</h1>
            </div>
            <div class="avatar center">
                <i class="fab fa-linux"></i>
            </div>
       </div>
   </div>
</div>
<div class="row profile-container">
    <div class="col-sm-12 col-md-3 center profile">
        <div>
            <div class="t-avatar center">
                <h1 class="display-4">Dev</h1>
            </div>
            <div class="avatar center">
                <i class="fas fa-code"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 center container-description">
        <div class="description">
            <p class="lead">
                My motto is: "if the application doesn't exist or It doensn’t convince me, I'll develop it."
            </p>
        </div>
    </div>
</div>

<div class="row profile-container end">
    <div class="col-sm-12 col-md-9 description container-description center">
         <p class="lead">
            I like the teamwork’s and the things they can build as it.
            My main objective is to use everything I know in order to achieve quality products            
            and support the team in every point.
         </p>
    </div>
    <div class="col-sm-12 col-md-3 center profile">
        <div>
            <div class="t-avatar center">
                <h1 class="display-4">Team</h1>
            </div>
            <div class="avatar center">
               <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
 </div>