<div class="lateral-menu vspace-between">
    <div class="logo-container center">
        <a href="#"><div class="logo"></div></a>
    </div>
    <div class="options-container">
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-home'" [route]="''"></app-icono>
        </div>
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-address-card'" [route]="'home'"></app-icono>
        </div>
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-graduation-cap'" [route] = "'studies'" ></app-icono>
        </div>
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-envelope-open-text'"></app-icono>
        </div>
    </div>
</div>