<div class="lateral-menu vspace-between">
    <div class="logo-container center">
        <div class="logo"></div>
    </div>
    <div class="options-container">
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-address-card'"></app-icono>
        </div>
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-graduation-cap'"></app-icono>
        </div>
        <div class="option-container center">
            <app-icono [ticon]="'fas fa-envelope-open-text'"></app-icono>
        </div>
    </div>
</div>